<h1 class="home">Comece Sua Coleção de HQ</h1>
<div class="img-container">
    <img class="enter" src="https://i.pinimg.com/originals/41/fa/15/41fa153ff39b68d02e58ab9181425ee7.png">
</div>
<div>
    <h2 class="home" >Faça Login</h2>
</div>
<div class="link">
    <a href="/books">Todas as HQs</a>
    <a href="/users">Todos os Usuários</a>
</div>